.welcome {
  height: 100vh;
  width: 100vw;
  padding-top: 6vh;
  text-align: center;
  vertical-align: middle;
  display:table-cell;
  vertical-align:middle;
}

.social-logo {
  width: 56px;
  margin: 10px;
}
